.app{
  background-color:pink;
  text-align:center;
  align-items:center;
  font-family:Courier;
}
h1{
  font-family:Courier;
}
.links{
  list-style: none;
}
a{
  color:purple;
}
a:hover{
  color:yellow;
}
/* a:visited{
  color:whitesmoke;
} */
#inner{
  width:50%;
  margin:auto
}
#resume{
  width:100%;
  height:100vh;
}
#home-page{
  height:100vh;
}