.app{
  background-color:pink;
  text-align:center;
  align-items:center;
}
h1{
  font-family: "Courier New"
}
ul{
  list-style: none;
}
#inner{
  width:50%;
  margin:auto
}
#resume{
  width:100%;
  height:100vh;
}
